//Font Weights

$Fw-regular: 400;
$Fw-medium: 500;
$Fw-semiBold: 600;
$Fw-bold: 700;
$Fw-extraBold: 800;

//Font Family

$Ff-primary: 'Poppins', sans-serif;

// Color

$Clr-accent-purple: hsl(259, 100%, 65%);
$Clr-accent-light-red: hsl(0, 100%, 67%);
$Clr-neutral-white: hsl(0, 0%, 100%);
$Clr-neutral-off-white: hsl(0, 0%, 94%);
$Clr-neutral-light-grey: hsl(0, 0%, 86%);
$Clr-neutral-smokey-grey: hsl(0, 1%, 44%);
$Clr-neutral-off-black: hsl(0, 0%, 8%);
